
test/tmp/400cells_Organoid_stats_post_2.csv
test/tmp/400cells_Organoid_stats_pre.csv
test/tmp/400cells_Organoid_stats_pre_2.csv
test/tmp/400cells_Organoidnormal.inp
test/tmp/400cells_Organoidnormal_2.inp
test/tmp/400cells_Organoiduniform.inp
test/tmp/400cells_Organoiduniform_2.inp
test/tmp/400cells_Organoiduniform_area.inp
test/tmp/400cells_Organoiduniform_c3d10_postDef.inp
test/tmp/351cells_Organoid.obj
test/tmp/351cells_Organoid_statistiques.csv
test/tmp/351cells_Organoid_statistiques2.csv
test/tmp/351cells_Organoid_statistiques2_post.csv
test/tmp/351cells_Organoid_statistiques_post.csv
test/tmp/351cells_Organoid_stats_post.csv
test/tmp/351cells_Organoid_stats_post_2.csv
test/tmp/351cells_Organoid_stats_pre.csv
test/tmp/351cells_Organoid_stats_pre_2.csv
test/tmp/351cells_Organoiduniform.inp
test/tmp/351cells_Organoiduniform_2.inp
test/tmp/399cells_Organoid.obj
test/tmp/399cells_Organoid_stats_pre.csv
test/tmp/399cells_Organoid_stats_pre_2.csv
test/tmp/399cells_Organoidnormal.inp
test/tmp/400cells_Organoid.obj
test/tmp/400cells_Organoid_statistiques.csv
test/tmp/400cells_Organoid_statistiques2.csv
test/tmp/400cells_Organoid_statistiques2_post.csv
test/tmp/400cells_Organoid_statistiques_post.csv
test/tmp/400cells_Organoid_stats_post.csv
test/tmp/400cells_Organoiduniform_c3d10_preDef.inp
test/tmp/400cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/400cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/400cells_Organoiduniform_c3d10_preDef_final.inp
test/tmp/400cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/400cells_Organoiduniform_final.inp
test/tmp/401cells_Organoid.obj
test/tmp/401cells_Organoid_stats_post.csv
test/tmp/401cells_Organoid_stats_post_2.csv
test/tmp/401cells_Organoid_stats_pre.csv
test/tmp/401cells_Organoid_stats_pre_2.csv
test/tmp/401cells_Organoidnormal.inp
test/tmp/401cells_Organoidnormal_2.inp
test/tmp/402cells_Organoid.obj
test/tmp/402cells_Organoid_stats_post.csv
test/tmp/402cells_Organoid_stats_post_2.csv
test/tmp/402cells_Organoid_stats_pre.csv
test/tmp/402cells_Organoid_stats_pre_2.csv
test/tmp/402cells_Organoidnormal.inp
test/tmp/402cells_Organoidnormal_2.inp
test/tmp/450cells_Organoid.obj
test/tmp/450cells_Organoid_statistiques.csv
test/tmp/450cells_Organoid_statistiques2.csv
test/tmp/450cells_Organoid_statistiques2_post.csv
test/tmp/450cells_Organoid_statistiques_post.csv
test/tmp/450cells_Organoiduniform.inp
test/tmp/450cells_Organoiduniform_c3d10_preDef.inp
test/tmp/450cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/450cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/450cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/500cells_Organoid.obj
test/tmp/500cells_Organoid_stats_post.csv
test/tmp/500cells_Organoid_stats_post_2.csv
test/tmp/500cells_Organoid_stats_pre.csv
test/tmp/500cells_Organoid_stats_pre_2.csv
test/tmp/500cells_Organoidnormal.inp
test/tmp/500cells_Organoidnormal_2.inp
test/tmp/500cells_Organoiduniform.inp
test/tmp/500cells_Organoiduniform_2.inp
test/tmp/55cells_Organoid.obj
test/tmp/55cells_Organoid_statistiques.csv
test/tmp/55cells_Organoid_statistiques2.csv
test/tmp/55cells_Organoid_statistiques2_post.csv
test/tmp/55cells_Organoid_statistiques_post.csv
test/tmp/55cells_Organoiduniform.inp
test/tmp/55cells_Organoiduniform_c3d10_preDef.inp
test/tmp/55cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/55cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/55cells_Organoiduniform_c3d10_preDef_final.inp
test/tmp/55cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/56cells_Organoid.obj
test/tmp/56cells_Organoid_statistiques.csv
test/tmp/56cells_Organoid_statistiques2.csv
test/tmp/56cells_Organoid_statistiques2_post.csv
test/tmp/56cells_Organoid_statistiques_post.csv
test/tmp/56cells_Organoiduniform.inp
test/tmp/56cells_Organoiduniform_c3d10_preDef.inp
test/tmp/56cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/56cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/56cells_Organoiduniform_c3d10_preDef_final.inp
test/tmp/56cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/csv_export/vert.csv
test/tmp/csv_export/face.csv
test/tmp/csv_export/edge.csv
test/tmp/csv_export/cell.csv
test/tmp/55cells_Organoiduniform.inp
test/tmp/350cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/350cells_Organoiduniform_c3d10_preDef_final.inp
test/tmp/350cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/350cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/350cells_Organoiduniform_c3d10_preDef.inp
test/tmp/350cells_Organoiduniform_c3d10_postDef.inp
test/tmp/350cells_Organoiduniform_2_c3d10_postDef_lateral.obj
test/tmp/350cells_Organoiduniform_2_c3d10_postDef_final.inp
test/tmp/350cells_Organoiduniform_2_c3d10_postDef_basal.obj
test/tmp/350cells_Organoiduniform_2_c3d10_postDef_apical.obj
test/tmp/350cells_Organoiduniform_2_c3d10_postDef.inp
test/tmp/350cells_Organoiduniform_2.inp
test/tmp/Figure2.cae
test/tmp/Figure2.jnl
test/tmp/newinp.inp
test/tmp/350cells_Organoid_statistiques.csv
test/tmp/350cells_Organoid_statistiques2.csv
test/tmp/350cells_Organoid_statistiques2_post.csv
test/tmp/350cells_Organoid_statistiques_post.csv
test/tmp/350cells_Organoid_stats_post.csv
test/tmp/350cells_Organoid_stats_post_2.csv
test/tmp/350cells_Organoid_stats_pre.csv
test/tmp/350cells_Organoid_stats_pre_2.csv
test/tmp/349cells_Organoiduniform_2_c3d10_postDef_lateral.obj
test/tmp/349cells_Organoiduniform_2_c3d10_postDef_final.inp
test/tmp/349cells_Organoiduniform_2_c3d10_postDef_basal.obj
test/tmp/349cells_Organoiduniform_2_c3d10_postDef_apical.obj
test/tmp/349cells_Organoiduniform_2_c3d10_postDef.inp
test/tmp/349cells_Organoiduniform_2.inp
test/tmp/349cells_Organoiduniform.inp
test/tmp/349cells_Organoidnormal_2.inp
test/tmp/349cells_Organoidnormal.inp
test/tmp/349cells_Organoid_stats_pre_2.csv
test/tmp/349cells_Organoid_stats_pre.csv
test/tmp/349cells_Organoid_stats_post_2.csv
test/tmp/349cells_Organoid_stats_post.csv
test/tmp/349cells_Organoid_statistiques_post.csv
test/tmp/349cells_Organoid_statistiques2_post.csv
test/tmp/349cells_Organoid_statistiques2.csv
test/tmp/349cells_Organoid_statistiques.csv
test/tmp/349cells_Organoid.obj
test/tmp/348cells_Organoiduniform_2.inp
test/tmp/348cells_Organoiduniform.inp
test/tmp/348cells_Organoidnormal_2.inp
test/tmp/348cells_Organoidnormal.inp
test/tmp/348cells_Organoid_stats_pre_2.csv
test/tmp/348cells_Organoid_stats_pre.csv
test/tmp/348cells_Organoid_stats_post_2.csv
test/tmp/348cells_Organoid_stats_post.csv
test/tmp/348cells_Organoid.obj
test/tmp/22cells_Organoidperfect_c3d10_preDef.inp
test/tmp/22cells_Organoid.obj
test/tmp/200cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/200cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/200cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/200cells_Organoiduniform_c3d10_preDef.inp
test/tmp/200cells_Organoiduniform.inp
test/tmp/200cells_Organoid_statistiques_post.csv
test/tmp/200cells_Organoid_statistiques2_post.csv
test/tmp/200cells_Organoid_statistiques2.csv
test/tmp/200cells_Organoid_statistiques.csv
test/tmp/200cells_Organoid.obj
test/tmp/100cells_Organoiduniform_c3d10_preDef_lateral.obj
test/tmp/100cells_Organoiduniform_c3d10_preDef_final.inp
test/tmp/100cells_Organoiduniform_c3d10_preDef_basal.obj
test/tmp/100cells_Organoiduniform_c3d10_preDef_apical.obj
test/tmp/100cells_Organoid_statistiques_post.csv
test/tmp/100cells_Organoid_statistiques2_post.csv
test/tmp/100cells_Organoid_statistiques2.csv
test/tmp/100cells_Organoid_statistiques.csv
dist/model/Lea_Z4-Actine_T1_cp_masks_statistiques_post.csv
dist/model/Lea_Z4-Actine_T1_cp_masks_statistiques.csv
dist/model/Lea_Z4-Actine_T1_cp_masks_save.tif
dist/model/Lea_Z4-Actine_T1_cp_masks_res.mha
dist/model/Lea_Z4-Actine_T1_cp_masks_iso_statistiques_post.csv
dist/model/Lea_Z4-Actine_T1_cp_masks_iso_save.tif
dist/model/Lea_Z4-Actine_T1_cp_masks_iso.mha
dist/model/Lea_Z4-Actine_T1_cp_masks.tif
dist/model/Lea_Z4-Actin_statistiques_post.csv
dist/model/Lea_Z4-Actin_statistiques.csv
dist/model/Lea_Z4-Actin_save.tif
dist/model/Lea_Z4-Actin.mha
dist/model/20octobre/Combined.inp
dist/model/20octobre/combined2.inp
dist/model/20octobre/combined23.inp
dist/model/20octobre/combined4_EL.inp
dist/model/20octobre/Combined_EL.fil
dist/model/20octobre/Combined_EL.inp
dist/model/20octobre/Combined_NO.csv
dist/model/20octobre/Combined_NO.fil
dist/model/20octobre/Combined_NO.inp
dist/model/20octobre/combined_ref.inp
dist/model/20octobre/combined_ref_apical.obj
dist/model/20octobre/combined_ref_apical_Def.obj
dist/model/20octobre/combined_ref_basal.obj
dist/model/20octobre/combined_ref_basal_Def.obj
dist/model/20octobre/CombinedAnalysis_septembre.py
dist/model/20octobre/Figure5/abaqus/combined4_EL.com
dist/model/20octobre/Figure5/abaqus/combined4_EL.dat
dist/model/20octobre/Figure5/abaqus/combined4_EL.fil
dist/model/20octobre/Figure5/abaqus/combined4_EL.ipm
dist/model/20octobre/Figure5/abaqus/combined4_EL.log
dist/model/20octobre/Figure5/abaqus/combined4_EL.mdl
dist/model/20octobre/Figure5/abaqus/combined4_EL.msg
dist/model/20octobre/Figure5/abaqus/combined4_EL.odb
dist/model/20octobre/Figure5/abaqus/combined4_EL.prt
dist/model/20octobre/Figure5/abaqus/combined4_EL.res
dist/model/20octobre/Figure5/abaqus/combined4_EL.sim
dist/model/20octobre/Figure5/abaqus/combined4_EL.sta
dist/model/20octobre/Figure5/abaqus/combined4_EL.stt
dist/model/20octobre/Figure5/abaqus/combined4_NO.com
dist/model/20octobre/Figure5/abaqus/combined4_NO.dat
dist/model/20octobre/Figure5/abaqus/combined4_NO.fil
dist/model/20octobre/Figure5/abaqus/combined4_NO.ipm
dist/model/20octobre/Figure5/abaqus/combined4_NO.log
dist/model/20octobre/Figure5/abaqus/combined4_NO.mdl
dist/model/20octobre/Figure5/abaqus/combined4_NO.msg
dist/model/20octobre/Figure5/abaqus/combined4_NO.odb
dist/model/20octobre/Figure5/abaqus/combined4_NO.prt
dist/model/20octobre/Figure5/abaqus/combined4_NO.res
dist/model/20octobre/Figure5/abaqus/combined4_NO.sim
dist/model/20octobre/Figure5/abaqus/combined4_NO.sta
dist/model/20octobre/Figure5/abaqus/combined4_NO.stt
dist/model/20octobre/Figure5/abaqus/pressure4_EL.com
dist/model/20octobre/Figure5/abaqus/pressure4_EL.dat
dist/model/20octobre/Figure5/abaqus/pressure4_EL.fil
dist/model/20octobre/Figure5/abaqus/pressure4_EL.ipm
dist/model/20octobre/Figure5/abaqus/pressure4_EL.log
dist/model/20octobre/Figure5/abaqus/pressure4_EL.mdl
dist/model/20octobre/Figure5/abaqus/pressure4_EL.msg
dist/model/20octobre/Figure5/abaqus/pressure4_EL.odb
dist/model/20octobre/Figure5/abaqus/pressure4_EL.prt
dist/model/20octobre/Figure5/abaqus/pressure4_EL.res
dist/model/20octobre/Figure5/abaqus/pressure4_EL.sim
dist/model/20octobre/Figure5/abaqus/pressure4_EL.sta
dist/model/20octobre/Figure5/abaqus/pressure4_EL.stt
dist/model/20octobre/Figure5/abaqus/pressure4_NO.com
dist/model/20octobre/Figure5/abaqus/pressure4_NO.dat
dist/model/20octobre/Figure5/abaqus/pressure4_NO.fil
dist/model/20octobre/Figure5/abaqus/pressure4_NO.ipm
dist/model/20octobre/Figure5/abaqus/pressure4_NO.log
dist/model/20octobre/Figure5/abaqus/pressure4_NO.mdl
dist/model/20octobre/Figure5/abaqus/pressure4_NO.msg
dist/model/20octobre/Figure5/abaqus/pressure4_NO.odb
dist/model/20octobre/Figure5/abaqus/pressure4_NO.prt
dist/model/20octobre/Figure5/abaqus/pressure4_NO.res
dist/model/20octobre/Figure5/abaqus/pressure4_NO.sim
dist/model/20octobre/Figure5/abaqus/pressure4_NO.sta
dist/model/20octobre/Figure5/abaqus/pressure4_NO.stt
dist/model/20octobre/Figure5/abaqus/push4_EL.com
dist/model/20octobre/Figure5/abaqus/push4_EL.dat
dist/model/20octobre/Figure5/abaqus/push4_EL.fil
dist/model/20octobre/Figure5/abaqus/push4_EL.ipm
dist/model/20octobre/Figure5/abaqus/push4_EL.log
dist/model/20octobre/Figure5/abaqus/push4_EL.mdl
dist/model/20octobre/Figure5/abaqus/push4_EL.msg
dist/model/20octobre/Figure5/abaqus/push4_EL.odb
dist/model/20octobre/Figure5/abaqus/push4_EL.prt
dist/model/20octobre/Figure5/abaqus/push4_EL.res
dist/model/20octobre/Figure5/abaqus/push4_EL.sim
dist/model/20octobre/Figure5/abaqus/push4_EL.sta
dist/model/20octobre/Figure5/abaqus/push4_EL.stt
dist/model/20octobre/Figure5/abaqus/push4_NO.com
dist/model/20octobre/Figure5/abaqus/push4_NO.dat
dist/model/20octobre/Figure5/abaqus/push4_NO.fil
dist/model/20octobre/Figure5/abaqus/push4_NO.ipm
dist/model/20octobre/Figure5/abaqus/push4_NO.log
dist/model/20octobre/Figure5/abaqus/push4_NO.mdl
dist/model/20octobre/Figure5/abaqus/push4_NO.msg
dist/model/20octobre/Figure5/abaqus/push4_NO.odb
dist/model/20octobre/Figure5/abaqus/push4_NO.prt
dist/model/20octobre/Figure5/abaqus/push4_NO.res
dist/model/20octobre/Figure5/abaqus/push4_NO.sim
dist/model/20octobre/Figure5/abaqus/push4_NO.sta
dist/model/20octobre/Figure5/abaqus/push4_NO.stt
dist/model/20octobre/Figure5/abaqus/temp4_EL.com
dist/model/20octobre/Figure5/abaqus/temp4_EL.dat
dist/model/20octobre/Figure5/abaqus/temp4_EL.fil
dist/model/20octobre/Figure5/abaqus/temp4_EL.ipm
dist/model/20octobre/Figure5/abaqus/temp4_EL.log
dist/model/20octobre/Figure5/abaqus/temp4_EL.mdl
dist/model/20octobre/Figure5/abaqus/temp4_EL.msg
dist/model/20octobre/Figure5/abaqus/temp4_EL.odb
dist/model/20octobre/Figure5/abaqus/temp4_EL.prt
dist/model/20octobre/Figure5/abaqus/temp4_EL.res
dist/model/20octobre/Figure5/abaqus/temp4_EL.sim
dist/model/20octobre/Figure5/abaqus/temp4_EL.sta
dist/model/20octobre/Figure5/abaqus/temp4_EL.stt
dist/model/20octobre/Figure5/abaqus/temp4_NO.com
dist/model/20octobre/Figure5/abaqus/temp4_NO.dat
dist/model/20octobre/Figure5/abaqus/temp4_NO.fil
dist/model/20octobre/Figure5/abaqus/temp4_NO.ipm
dist/model/20octobre/Figure5/abaqus/temp4_NO.log
dist/model/20octobre/Figure5/abaqus/temp4_NO.mdl
dist/model/20octobre/Figure5/abaqus/temp4_NO.msg
dist/model/20octobre/Figure5/abaqus/temp4_NO.odb
dist/model/20octobre/Figure5/abaqus/temp4_NO.prt
dist/model/20octobre/Figure5/abaqus/temp4_NO.res
dist/model/20octobre/Figure5/abaqus/temp4_NO.sim
dist/model/20octobre/Figure5/abaqus/temp4_NO.sta
dist/model/20octobre/Figure5/abaqus/temp4_NO.stt
dist/model/20octobre/Figure5/analysis/combined4/combined4.png
dist/model/20octobre/Figure5/analysis/combined4/combined_ref_apical.obj
dist/model/20octobre/Figure5/analysis/combined4/combined_ref_apical_Def.obj
dist/model/20octobre/Figure5/analysis/combined4/combined_ref_basal.obj
dist/model/20octobre/Figure5/analysis/combined4/combined_ref_basal_Def.obj
dist/model/20octobre/Figure5/analysis/combined4/file.jpeg
dist/model/20octobre/Figure5/analysis/combined4/file2.jpeg
dist/model/20octobre/Figure5/analysis/combined4/file3.jpeg
dist/model/20octobre/Figure5/analysis/combined4/file4.jpeg
dist/model/20octobre/Figure5/analysis/combined4/file5.jpeg
dist/model/20octobre/Figure5/analysis/combined4_EL.fil
dist/model/20octobre/Figure5/analysis/combined4_EL.inp
dist/model/20octobre/Figure5/analysis/combined4_EL_statistiques_post.csv
dist/model/20octobre/Figure5/analysis/combined4_NO.csv
dist/model/20octobre/Figure5/analysis/combined4_NO.fil
dist/model/20octobre/Figure5/analysis/combined_ref.inp
dist/model/20octobre/Figure5/analysis/combined_ref_apical.obj
dist/model/20octobre/Figure5/analysis/combined_ref_apical_Def.obj
dist/model/20octobre/Figure5/analysis/combined_ref_basal.obj
dist/model/20octobre/Figure5/analysis/combined_ref_basal_Def.obj
dist/model/20octobre/Figure5/analysis/concat.txt
dist/model/20octobre/Figure5/analysis/pressure4/combined_ref_apical.obj
dist/model/20octobre/Figure5/analysis/pressure4/combined_ref_apical_Def.obj
dist/model/20octobre/Figure5/analysis/pressure4/combined_ref_basal.obj
dist/model/20octobre/Figure5/analysis/pressure4/combined_ref_basal_Def.obj
dist/model/20octobre/Figure5/analysis/pressure4/file.jpeg
dist/model/20octobre/Figure5/analysis/pressure4/file2.jpeg
dist/model/20octobre/Figure5/analysis/pressure4/file3.jpeg
dist/model/20octobre/Figure5/analysis/pressure4/file4.jpeg
dist/model/20octobre/Figure5/analysis/pressure4/file5.jpeg
dist/model/20octobre/Figure5/analysis/pressure4/pressure4.png
dist/model/20octobre/Figure5/analysis/pressure4_EL.fil
dist/model/20octobre/Figure5/analysis/pressure4_EL.inp
dist/model/20octobre/Figure5/analysis/pressure4_EL_statistiques_post.csv
dist/model/20octobre/Figure5/analysis/pressure4_NO.csv
dist/model/20octobre/Figure5/analysis/pressure4_NO.fil
dist/model/20octobre/Figure5/analysis/push4/combined_ref_apical.obj
dist/model/20octobre/Figure5/analysis/push4/combined_ref_apical_Def.obj
dist/model/20octobre/Figure5/analysis/push4/combined_ref_basal.obj
dist/model/20octobre/Figure5/analysis/push4/combined_ref_basal_Def.obj
dist/model/20octobre/Figure5/analysis/push4/file.jpeg
dist/model/20octobre/Figure5/analysis/push4/file2.jpeg
dist/model/20octobre/Figure5/analysis/push4/file3.jpeg
dist/model/20octobre/Figure5/analysis/push4/file4.jpeg
dist/model/20octobre/Figure5/analysis/push4/file5.jpeg
dist/model/20octobre/Figure5/analysis/push4/push4.png
dist/model/20octobre/Figure5/analysis/push4_EL.fil
dist/model/20octobre/Figure5/analysis/push4_EL.inp
dist/model/20octobre/Figure5/analysis/push4_EL_statistiques_post.csv
dist/model/20octobre/Figure5/analysis/push4_NO.csv
dist/model/20octobre/Figure5/analysis/push4_NO.fil
dist/model/24Nov_NO_step3_statistiques_post.csv
dist/model/24Nov_NO_step2_statistiques_post.csv
dist/model/24Nov_NO_step1_statistiques_post.csv
dist/model/20octobre/temp4_EL.inp
dist/model/20octobre/push4_EL.inp
dist/model/20octobre/pressure4_EL.inp
dist/model/20octobre/NonUniform.inp
dist/model/20octobre/for_exemple/min500_inv_NODE.inp
dist/model/20octobre/for_exemple/compminus1000_ELEM.inp
dist/model/20octobre/file5.jpeg
dist/model/20octobre/file4.jpeg
dist/model/20octobre/file3.jpeg
dist/model/20octobre/file2.jpeg
dist/model/20octobre/file.jpeg
dist/model/20octobre/Figure5/temp4_NO.inp
dist/model/20octobre/Figure5/temp4_EL.inp
dist/model/20octobre/Figure5/push4_NO.inp
dist/model/20octobre/Figure5/push4_EL.inp
dist/model/20octobre/Figure5/pressure4_NO.inp
dist/model/20octobre/Figure5/pressure4_EL.inp
dist/model/20octobre/Figure5/combined4_NO.inp
dist/model/20octobre/Figure5/combined4_EL.inp
dist/model/20octobre/Figure5/analysis/temp4_NO.fil
dist/model/20octobre/Figure5/analysis/temp4_NO.csv
dist/model/20octobre/Figure5/analysis/temp4_EL_statistiques_post.csv
dist/model/20octobre/Figure5/analysis/temp4_EL.inp
dist/model/20octobre/Figure5/analysis/temp4_EL.fil
dist/model/20octobre/Figure5/analysis/temp41_NO.fil
dist/model/20octobre/Figure5/analysis/temp41_EL_statistiques_post.csv
dist/model/20octobre/Figure5/analysis/temp41_EL.inp
dist/model/20octobre/Figure5/analysis/temp41_EL.fil
dist/model/20octobre/Figure5/analysis/temp4/temp4.png
dist/model/20octobre/Figure5/analysis/temp4/file5.jpeg
dist/model/20octobre/Figure5/analysis/temp4/file4.jpeg
dist/model/20octobre/Figure5/analysis/temp4/file3.jpeg
dist/model/20octobre/Figure5/analysis/temp4/file2.jpeg
dist/model/20octobre/Figure5/analysis/temp4/file.jpeg
dist/model/20octobre/Figure5/analysis/temp4/combined_ref_basal_Def.obj
dist/model/20octobre/Figure5/analysis/temp4/combined_ref_basal.obj
dist/model/20octobre/Figure5/analysis/temp4/combined_ref_apical_Def.obj
dist/model/20octobre/Figure5/analysis/temp4/combined_ref_apical.obj
dist/model/B3_Z56_actin_T1_cp_masks_res.mha
dist/model/B3_Z56_actin_T1_cp_masks_res.tif
dist/model/B3_Z56_actin_T1_cp_masks_res_reorder.mha
dist/model/B3_Z56_actin_T1_cp_masks_res_statistiques.csv
dist/model/B3_Z56_actin_T1_cp_masks_res_statistiques_post.csv
dist/model/B3_Z56_actin_T1_cp_masks_statistiques_post.csv
dist/model/B3_Z56_reoder.mha
dist/model/B3_Z56_reoder2.tif
dist/model/B3_Z56_reoder2_reorder.tif
dist/model/B3_Z56_reoder2_reorder2.tif
dist/model/B3_Z56_reoder_reorder.mha
dist/model/B3Z56T8_cp_masks_statistiques_post.csv
dist/model/B4_Z56_actin_T1_cp_masks.tif
dist/model/B4_Z56_actin_T1_cp_masks_res.mha
dist/model/B4_Z56_actin_T1_cp_masks_save.tif
dist/model/B4_Z56_actin_T1_cp_masks_statistiques_post.csv
dist/model/B4_Z56_actin_T1_csv.csv
dist/model/B4_Z56_actin_T1_retouche.tif
dist/model/B4_Z56_actin_T1_retouche_reorder.tif
dist/model/B4_Z56_actin_T1_retouche_reorder_edited.tif
dist/model/B9_Z5678_actin_T1_cp_masks_statistiques_post.csv
dist/model/B9_Z5678_actin_T1_retouche_cp_masks_statistiques_post.csv
dist/model/B9_Z7_actin_T8_cp_masks_statistiques_post.csv
dist/model/FIG4_preDef_lateral.obj
dist/model/FIG4_preDef_basal_Def.obj
dist/model/FIG4_preDef_basal.obj
dist/model/FIG4_preDef_apical_Def.obj
dist/model/FIG4_preDef_apical.obj
dist/model/FIG4_preDef.inp
dist/model/Fig4_lateral_Def.obj
dist/model/Fig4_lateral.obj
dist/model/Fig4_basal_Def.obj
dist/model/Fig4_basal.obj
dist/model/Fig4_apical_Def.obj
dist/model/Fig4_apical.obj
dist/model/FIG4_preDef_lateral_Def.obj
dist/model/Fig4EL.txt
dist/model/Fig4EL_step3.txt
dist/model/Fig4ELEM.inp
dist/model/Fig4ELEM_apical.obj
dist/model/Fig4ELEM_apical_Def.obj
dist/model/Fig4ELEM_basal.obj
dist/model/Fig4ELEM_basal_Def.obj
dist/model/Fig4ELEM_lateral.obj
dist/model/Fig4ELEM_lateral_Def.obj
dist/model/Fig4ELEM_statistiques_post.csv
dist/model/Fig4NO.inp
dist/model/Fig4NO_apical.obj
dist/model/Fig4NO_basal.obj
dist/model/Fig4NO_lateral.obj
dist/model/Fig4NO_statistiques_post.csv
dist/model/Fig4NO_step1.inp
dist/model/Fig4NO_step1_statistiques_post.csv
dist/model/Fig4NO_step2.inp
dist/model/Fig4NO_step2.log
dist/model/Fig4NO_step3.inp
dist/model/Fig4NODE.inp
dist/model/Fig4NODE1.inp
dist/model/Fig4NODE1_apical.obj
dist/model/Fig4NODE1_apical_Def.obj
dist/model/Fig4NODE1_basal.obj
dist/model/Fig4NODE1_basal_Def.obj
dist/model/Fig4NODE1_lateral.obj
dist/model/Fig4NODE1_lateral_Def.obj
dist/model/Fig4NODE1_statistiques_post.csv
dist/model/Fig4NODE2.inp
dist/model/Fig4NODE2_apical.obj
dist/model/Fig4NODE2_apical_Def.obj
dist/model/Fig4NODE2_basal.obj
dist/model/Fig4NODE2_basal_Def.obj
dist/model/Fig4NODE2_lateral.obj
dist/model/Fig4NODE2_lateral_Def.obj
dist/model/Fig4NODE2_statistiques_post.csv
dist/model/Fig4NODE3.inp
dist/model/Fig4NODE3_apical.obj
dist/model/Fig4NODE3_apical_Def.obj
dist/model/Fig4NODE3_basal.obj
dist/model/Fig4NODE3_basal_Def.obj
dist/model/Fig4NODE3_lateral.obj
dist/model/Fig4NODE3_lateral_Def.obj
dist/model/Fig4NODE3_statistiques_post.csv
dist/model/Fig4NODE_apical.obj
dist/model/Fig4NODE_apical_Def.obj
dist/model/Fig4NODE_basal.obj
dist/model/Fig4NODE_basal_Def.obj
dist/model/Fig4NODE_lateral.obj
dist/model/Fig4NODE_lateral_Def.obj
dist/model/Fig4NODE_statistiques_post.csv
dist/model/Fig4NODEstp3.fil
dist/model/TestFig4_ring.inp
dist/model/TestFig4.inp
dist/model/output.csv
dist/model/new_tif_seg.tif
dist/model/morphoplot_julien.rar
